<div class="row fullWidth">
  <div class="large-12 columns box"><br><br> 
    <div>
      <span class="a1">Customer zone</span><br>
      <span class="a2">Change your offer</span>
    </div>
    <div class="logo" >
        <i class="fi-lightbulb"  ></i> 
        <span  class="bo">We have a better offer for you !</span>
    </div>
  </div>
</div><br><br>
<div style="text-align: center">
  <span class="fa fa-angle-down" ></span>
  <br>
</div>  
<div style="text-align: center">
  <span class="o" >Orange </span>
  <span class="w">recommends you </span>
  <span class="a">Abonnement </span>
  <span class="fo1">M</span>
</div>  
<br>
<div style="text-align: center">
  <span class="fa fa-angle-double-down" ></span>
</div>
<br>
<div style="text-align: center">
  <div class="panel-group" id="firstpannel" onclick="myFunction(this.id)" >
    <div class="panel panel-default" >
      <div class="panel-heading" >
        <h4 class="panel-title" >
          <div data-toggle="collapse" data-target="#collapse1" >
            <span>Abonment S </span>
            <span>10 </span><span>€/month</span>
          </div>
        </h4>
        <div id="collapse1" class="panel-collapse collapse" >
          <div class="panel-heading">
            <hr>
            <span>200 min.</span>
            <span>1.5 GB </span>
            <span>Data Pass</span>
          </div>
        </div>             
      </div>
    </div>
  </div>
  <br>
  <div class="panel-group" id="secondpannel" onclick="myFunction(this.id)">
    <div class="panel panel-default">    
      <div class="panel-heading">
        <h4 class="panel-title">
          <div data-toggle="collapse" data-target="#collapse2">
            <span>Abonment M </span>
            <span>20 </span><span>€/month</span>
          </div>
        </h4>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-heading"><hr>
            <span>300 min.</span>
            <span>3 GB </span>
            <span>Data Pass</span>
          </div> 
        </div>           
      </div>
    </div>
  </div>
  <br>
  <div class="panel-group" id="thirdpannel" onclick="myFunction(this.id)">
    <div class="panel panel-default">   
      <div class="panel-heading">
        <h4 class="panel-title">
          <div data-toggle="collapse" data-target="#collapse3">
            <span>Abonment L </span>
            <span>30 </span><span>€/month</span>
          </div>
        </h4>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-heading"><hr>
            <span>400 min.</span>
            <span>5 GB </span>
            <span>Data Pass</span>
          </div>
        </div>              
      </div>
    </div>
  </div>
  <br>
  <div class="panel-group" id="forthpannel" onclick="myFunction(this.id)">
    <div class="panel panel-default"> 
      <div class="panel-heading">
        <h4 class="panel-title">
          <div data-toggle="collapse" data-target="#collapse4">
            <span>Abonment XL </span>
            <span>40 </span><span>€/month</span>
          </div>
        </h4>
        <div id="collapse4" class="panel-collapse collapse">
          <div class="panel-heading"><hr>
            <span>500 min.</span>
            <span>7 GB </span>
            <span>Data Pass</span>
          </div> 
        </div>           
      </div>
    </div>
  </div>
</div> 
<br>
<div style="text-align: center">
  <span class="fa fa-angle-double-down" ></span>
</div>
<br>
<div style="text-align: center">
  <span class="fo" >I </span>
  <span class="o" >save </span>
  <span class="fo" >25,22 €/month and expect an average bill of 27,60 €</span>
</div>
<br>

<div style="text-align: center">
    <button type="button" class="btn bt1" >OK, I change now</button>
</div>
<br>
<div class="row fullWidth1">
  <div class="large-12 columns box1"><br><br> 
    <div style="text-align: center">
      <span class="fo" >Average for the</span>
      <span class="o" >last 3 months</span>
      <span class="fo" >with dolphin</span>
    </div>
    <div class="row" >
      <div class="rating-container" style="text-align: center">
        <div class="col-xs-4" >
          <div class="walk-container">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1 34 34" preserveAspectRatio="xMinYMin meet">
              <circle cx="16" cy="16" r="15.9155" class="rating-progress-background" />
              <circle cx="16" cy="16" r="15.9155" class="rating-progress js-rating-progress" />
            </svg><span style="margin-left: 10%">minutes</span>
            <div class="walk-text"><a href="#">132</a></div>
            <div id="walk-score"></div>
          </div>
        </div> 
        <div class="col-xs-4" >
          <div class="transit-container">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1 34 34" preserveAspectRatio="xMinYMin meet">
              <circle cx="16" cy="16" r="15.9155" class="rating-progress-background" />
              <circle cx="16" cy="16" r="15.9155" class="rating-progress js-rating-progress" />
            </svg><span style="margin-left: 14%">SMS</span>
            <div class="transit-text"><a href="#">3</a></div>
            <div id="transit-score"></div>
          </div>
        </div>
        <div class="col-xs-4" >
          <div class="bike-container">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1 34 34" preserveAspectRatio="xMinYMin meet">
              <circle cx="16" cy="16" r="15.9155" class="rating-progress-background" />
              <circle cx="16" cy="16" r="15.9155" class="rating-progress js-rating-progress" />
            </svg><span style="margin-left: 16%">Data</span>
            <div class="bike-text"><a href="#">2.8GB</a></div>
            <div id="bike-score"></div>
          </div>
        </div>
      </div>  
    </div> 
    <br>  
    <div style="text-align: center">
    <span class="fa fa-angle-double-down" ></span>
    </div>
    <div style="text-align: center">
      <span class="fo" >My</span>
      <span class="o" > new</span>
      <span class="fo" > consumption with abonnement</span>
      <span class="o" > M</span>
    </div>
    <div class="row" >
      <div class="rating-container1" style="text-align: center">
        <div class="col-xs-4" >
          <div class="walk-container1">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1 34 34">
              <circle cx="16" cy="16" r="15.9155" class="rating-progress-background1" />
              <circle cx="16" cy="16" r="15.9155" class="rating-progress1 js-rating-progress1" />
            </svg><span style="margin-left: 10%">minutes</span>
            <div class="walk-text1"><a href="#">132</a></div>
            <div id="walk-score1"></div>
          </div>
        </div> 
        <div class="col-xs-4" >
          <div class="transit-container1">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1 34 34">
              <circle cx="16" cy="16" r="15.9155" class="rating-progress-background1" />
              <circle cx="16" cy="16" r="15.9155" class="rating-progress1 js-rating-progress1" />
            </svg><span style="margin-left: 14%">SMS</span>
            <div class="transit-text1"><a href="#">3</a></div>
            <div id="transit-score1"></div>
          </div>
        </div>
        <div class="col-xs-4" >
          <div class="bike-container1">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1 34 34">
              <circle cx="16" cy="16" r="15.9155" class="rating-progress-background1" />
              <circle cx="16" cy="16" r="15.9155" class="rating-progress1 js-rating-progress1" />
            </svg><span style="margin-left: 16%">Data</span>
            <div class="bike-text1"><a href="#">2.8GB</a></div>
            <div id="bike-score1"></div>
          </div>
        </div>
      </div>  
    </div> 
    <div style="text-align: center">
      <button type="button" class="btn bt2" >OK, I change now</button>
    </div>
  </div>
</div>
