
.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
   position: relative;
  }
    .box{
	background-color: #333;
    height: 150px;
    width: 110% ;
	margin-bottom: 10px;  
  }

  .logo{
    width:90%;
    position:absolute;
    left: 5%;
    right: 5%;
    text-align: center;
    height: 40%;
    background-color: rgba(253, 194, 0, 0.966);
    top: 117px;
    z-index: 20;
    line-height: 0.7em;
    word-wrap: break-word;
  }
  
  .bt1{
	background-color: black;
  color:white;
  width: 46%;
  }
  
  .fo,.w{
	font-weight: bolder;
	font-size: 190%;
  }
  
  .o{
	color: rgb(221, 133, 0);
	font-weight: bolder;
	font-size: 190%;
  }
  
  .fa,.a{
	font-size:250%;
	font-weight: bolder;
  }
  
  .bo{
	color: rgb(10, 10, 10);
	font-size: 160%;
	font-weight: bold;
  }
  
  .fo1{
	color: rgb(221, 133, 0);
	font-weight: bolder;
	font-size: 250%;
  }
  
  .a1{
	color: rgb(221, 133, 0);
	line-height: 0.1;
	font-size: 190%;
	margin-left: 5%;
	font-weight: bold;
  }
  
  .a2{
	color: rgb(250, 245, 243);
	font-size: 250%;
    margin-left: 5%;
    line-height: 0.8;
  }
  
  .fi-lightbulb{
	font-size: 4.5rem;
  }
  .card{
	text-align:center;
	width:20em;
	margin: 0 auto;
	border-left: 5px solid grey;
	
  }
  
  .card-yellow{
  text-align:center;
	width:20em;
	margin: 0 auto;
	border-left: 5px solid rgba(253, 194, 0, 0.966);
  }
  span{
	font-weight: bold;
  }
  
  hr{
	border-color:grey;
  }
  
  .fullWidth1 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
    position: relative;
   }

   .box1{
    background-color: rgb(255, 255, 255);
    height: 700px;
    width: 100%
    /* margin-bottom: 10px;  */
    }

    
  .bt2{
    background-color: rgb(221, 133, 0);
    color:white;
    width: 50%;
    top: 97%;
    position:absolute;
    right: 27%;
    z-index: 20;
    }

    .single-chart {
      width: 33%;
      justify-content: space-around ;
    }

    .flex-wrapper{
      display: flex;
      flex-flow: row nowrap;
    }